.header {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    margin: auto;
    border-bottom: 1px solid rgb(122, 122, 122);
    width: 95%;
    font-family: 'Montserrat', sans-serif;
}